.dash-create-button{
    max-width: 25%;
    margin: auto;
}

.dash-edit-button{
    width: 10%!important;
    margin-bottom: 10px;
    color: white!important;
}


.dash-table th{
    background-color: rgb(33, 37, 41);
    color: white;
    font-weight: 400;
}

.dash-table tr:nth-child(even) {
    background-color: #f2f2f2
}

.dash-edit-modal{
    max-width: 60%!important;
}
.dash-edit-modal-dropdown{
    height: 50px;
}

.dash-table i{
    font-size: 50px;
    float: left;
}

.dash-table h1{
    margin-left: 75px;
}

.admin-dash-card{
    box-shadow: 3px 14px 32px -5px rgba(0,0,0,0.75);
}