/* Style for loaders used in this project */
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 13em;
    margin-bottom: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }

.loader-sm {
border: 8px solid #f3f3f3;
border-radius: 50%;
border-top: 8px solid #3498db;
width: 80px;
height: 80px;
margin: auto;
margin-top: 13em;
margin-bottom: 50px;
-webkit-animation: spin 1s linear infinite; /* Safari */
animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
/* Style for loaders used in this project */

/* Project manager specific styles */
.clickedon {
    background-color: #4e73df!important;
    color: white!important;
}

.project-add-members-tbl{
    width: 100%;
    margin-bottom: 2rem;
}

.project-add-members-tbl th{
    width: 50%;
    vertical-align: top;
}

.uploaded-file-list{
    list-style-image: url('../../../assets/vendor/fontawesome-free/svgs/regular/file-alt.svg');
    font-size: 2.5em;   
}   

.uploaded-file-list p{
    font-size:1rem!important;
}
/* Project manager specific styles */
